<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="agent">

<!-- Parameter Type / Result Type은 필요에 따라 추가 -->
	<insert id="insertAgentList" parameterType="java.util.HashMap">
	insert into agent values(#{bk_officename},#{bk_num},#{bk_address},#{bk_agentnum},
	#{bk_regname},#{bk_contact},#{bk_email},#{bk_password},#{id})
	</insert>

	<insert id="insertOneAgent">
	
	</insert>

	<select id="getAgentInfo">
	
	</select>
</mapper>