<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="brokerpage">
	<select id="find" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from room where id = #{id}
	</select>
	
	<delete id="complate" parameterType="java.util.HashMap">
		delete from room where id = #{id} and sell_num = #{sell}
	</delete>
</mapper>

