<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="image">
<select id="list" resultType="java.util.HashMap" parameterType="java.util.HashMap">
	select * from picture where sell_num  not in (select sell_num from room) and id = #{id}
</select>

<insert id="insert" parameterType="java.util.HashMap">
	insert into picture values (#{num},#{id})
</insert>

<select id="onedelete" resultType="java.util.HashMap" parameterType="java.util.HashMap">
	select * from picture where sell_num =#{num} and id = #{id}
</select>

<delete id="delete" parameterType="java.util.HashMap">
delete from picture where id=#{id} and sell_num=#{num}

</delete>
<delete id="deleteall" parameterType="java.util.HashMap">
delete from picture where id=#{id}

</delete>
</mapper>