<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="image">
<select id="list" resultType="java.util.HashMap">
	select sell_num from picture where sell_num not in (select sell_num from room)
</select>

<insert id="insert" parameterType="java.util.HashMap">
	insert into picture value #{num}
</insert>
</mapper>