<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info">
<select id="find" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from join where id=#{id}
</select>

<update id="change" parameterType="java.util.HashMap">
	update join set id = #{id} , telenum = #{telenum}, pass1 = #{pass1} , pass2 = #{pass2} where id=#{sid}
</update>
</mapper>