<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="join">
	<insert id="add" parameterType="java.util.HashMap">
		insert into join values(#{id}, #{Eemail}, #{password},  #{telenum},sysdate)
	</insert>
	
<!-- 	<select id="ajax" parameterType="java.lang.String" resultType="java.lang.Integer"> -->
<!-- 		select count(*) from join where id=#{id} -->
<!-- 	</select> -->
<!-- </mapper> -->


<select id="emailajax" parameterType="java.lang.String" resultType="java.lang.Boolean">
		select count(*) from join where Eemail=#{Eemail}
	</select>

<select id="brokerjoinajax" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		select count(*) from agent where id=#{id}
	</select>
</mapper>

