<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="login">
	<select id="find" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select * from join where Eemail=#{Eemail} and password=#{password}
	</select>
	
	<select id="broker" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select * from agent where id =#{brokerid} and bk_password =#{password} and rownum =1
	</select>
</mapper>
