<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="room">

<!-- Parameter Type / Result Type은 필요에 따라 추가 -->
	<insert id="insertList" parameterType="java.util.HashMap">
		insert into room values(#{sell_num},#{b_title},#{b_deposit},
		#{b_mpay},#{b_rkind},#{b_floor},#{b_size},#{b_gpay},#{b_glist},
		#{b_eleve},#{b_parking},#{b_rinfo},#{b_enterdate},'불가능',
		#{b_option},#{b_detail},#{b_location},#{b_nstation},
		#{b_latitude},#{b_longitude},#{b_petpossible},#{id},0,0,
		#{b_local1},#{b_local2},#{b_local3},#{b_size_m2},#{b_floor_all})
		
	</insert>
	<insert id="insertOne">
	
	</insert>
	
	
	<select id="getRoomInfo" resultType="java.util.HashMap" parameterType="java.lang.Integer">
	select * from room where SELL_NUM = #{regNum}
	</select>
	
	<select id="getRoomList_all" resultType="java.util.List" parameterMap="java.util.HashMap">
		select * from room where 
			<choose>
				<when test="매물종류 == '전세'">
					B_MPAY = 0 AND
				</when>
				<when test="">
					B_MPAY > 0 AND
				</when>
				<otherwise>
				</otherwise>
			</choose>
			B_RKIND=#{} 
			AND B_DEPOSIT BETWEEN #{} AND #{} 
			AND B_MPAY BETWEEN #{} AND #{}
			<if test="주차가능 != null">
			
			</if>
			<if test="반려동물 != null">
			
			</if>
			<if test="LH가능 != null">
			
			</if>
			<choose>
				<when test="area == 'lt_5'">
					B_AREA
				</when>
				<when test="">
					B_MPAY > 0 AND
				</when>
				<otherwise>
				</otherwise>
			</choose>
			<choose>
				<when test="XX == '전세'">
					B_MPAY = 0 AND
				</when>
				<when test="">
					B_MPAY > 0 AND
				</when>
				<otherwise>
				</otherwise>
			</choose>
	</select>
	
	<select id="room_deposit" resultType="java.util.HashMap">
		select * from ROOM where B_DEPOSIT=1000 and B_RKIND='투룸' and B_MPAY=65
	</select>
	
</mapper>