<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="room">

<!-- Parameter Type / Result Type은 필요에 따라 추가 -->
	<insert id="insertList" parameterType="java.util.HashMap">
		insert into data values(#{sell_num},#{b_title},#{b_deposit},
		#{b_mpay},#{b_rkind},#{b_floor},#{b_area},#{b_gpay},
		#{b_glist},#{b_eleve},#{b_parking},#{b_rinfo},#{b_enterdate},
		#{b_option},#{b_detail},#{b_location},#{b_nstation},#{b_petpossible},
		#{b_latitude},#{b_longitude},#{id})
		
	</insert>
	
	<insert id="insertOne">
	
	</insert>
	
	
	<select id="getRoomInfo">
	
	</select>
	
	<select id="getRoomList">
	
	</select>
	
</mapper>