<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zzim">

<select id="find" parameterType="java.lang.Integer" resultType="java.util.HashMap">
	select * from room where SELL_NUM = #{num}
</select>


<!-- 찜 버튼 눌렀을때 데이터베이스에 추가 -->
<insert id="add" parameterType="java.util.HashMap" >
	insert into zzimlist values(#{SELL_NUM},#{B_TITLE},#{B_DEPOSIT},
		#{B_MPAY},#{B_RKIND},#{B_FLOOR},#{B_SIZE},#{B_GPAY},#{B_GLIST},
		#{B_ELEVE},#{B_PARKING},#{B_RINFO},#{B_ENTERDATE},'불가능',
		#{B_OPTION},#{B_DETAIL},#{B_LOCATION},#{B_NSTATION},
		#{B_LATITUDE},#{B_LONGITUDE},#{B_PETPOSSIBLE},#{ID},0,0,
		#{B_LOCAL1},#{B_LOCAL2},#{B_LOCAL3},#{B_SIZE_M2},#{B_FLOOR_ALL}, #{sessionid})
</insert>

<!-- 찜 버튼 눌렀을때 데이터베이서에서 삭제 -->
<delete id="del" parameterType="java.util.HashMap" >
	delete from zzimlist where SELL_NUM = #{num} and  SESSIONID = #{sessionid}
</delete>

<!-- 새로고침 할 경우 찜 목록 활성화 상태 만들기 -->
<select id="activation" parameterType="java.util.HashMap" resultType="java.lang.Integer">
	select count(*) from zzimlist where SELL_NUM = #{num} and SESSIONID = #{sessionid}
</select>

<select id="list"  resultType="java.util.HashMap" parameterType="java.util.HashMap">
	select * from zzimlist where sessionid = #{email}
</select>

<delete id="zzimdel" parameterType="java.util.HashMap">
	delete from ZZIMLIST where sell_num =(select sell_num from ZZIMLIST where SESSIONID= #{email} and SELL_NUM not in(select sell_num from room))
</delete>





</mapper>