@CHARSET "EUC-KR";


#paging > ul {
        list-style-type:none;
}
    
#paging > ul li {
    font-size: 15px;
    display:inline-block;
    cursor:pointer;
    padding: 0 3px;
    color: white;
}
#paging > ul > li:hover {
    color: #white;
}


#paging > ul > li.selected {
    color: #04B486;
    font-size: 15px;
    cursor:default;
}